<% require 'cgi'; def h(v); CGI.escape_html(v || ''); end %>
<h3>Job Status: <%= h params[:jid] %></h3>

<div role="alert">
  <strong>Uh oh!</strong> That job can't be found. It may have expired already.
</div>
