<section>
  <header>
    <h1>Job Status: <%= h safe_url_params("jid") %></h1>
  </header>

  <div class="alert" role="alert">
    <strong>Uh oh!</strong> That job can't be found. It may have expired already.
  </div>
</section>
